@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts/Montserrat-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
